@import '../../colors';
@import '../../globals';

$logo-font-size: 1.8 * $unit;

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: $header-height;
	border-bottom: (.1 * $unit) solid $color-border;
}

.logo {
	float: left;
	padding: .9 * $unit;
	color: $palette-grey-500;
	font-size: $logo-font-size;
	font-weight: $font-weight-bold;
}

.navbar {
	height: $header-height;
	margin-left: $nav-width;
	padding-top: .8 * $unit;

	.centre {
		width: 100%;
		max-width: 45 * $unit;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}
}

.search {
	display: table;

	.field {
		display: table-cell;
		width: 100%;
		padding: (.3 * $unit) (.4 * $unit);
		border: (.1 * $unit) solid $palette-grey-200;
		font-size: $font-size-normal;
		font-weight: $font-weight-semi-bold;
	}

	.buttonGroup {
		display: table-cell;
		width: 1%;
		vertical-align: middle;
	}
}
