@import "../colors";
@import "../globals";

.button {
	cursor: pointer;
	border-radius: .12 * $unit;
	border: (.1 * $unit) solid $palette-grey-200;
	font-weight: $font-weight-semi-bold;
	height: 2 * $unit;
	font-size: $font-size-normal;
	background-color: $palette-grey-50;
	color: $palette-grey-700;
	margin-right: .8 * $unit;
	&:hover {
		background-color: rgba($palette-grey-200,.40);
		border-color: $palette-grey-200;
	}
	&:active {
		background-color: rgba($palette-grey-200,.60);
		border-color: $palette-grey-200;
	}
}

.primary {
	background-color: $color-primary;
	border-color: $color-primary;
	color: $color-primary-contrast;
	&:hover {
		background-color: $palette-red-500;
		border-color: $palette-red-500;
	}
	&:active {
		background-color: $palette-red-700;
		border-color: $palette-red-700;
	}
}

.large {
	height: 2.6 * $unit;
	font-size: $font-size-big;
}

.small {
	height: 1.6 * $unit;
	font-size: $font-size-small;
}
