@import "../../colors";
@import "../../globals";

.item {
	margin-top: 2px;
	margin-bottom: 2px;
	display: block;
	padding-left: $unit;
	padding-top: .6 * $unit;
	padding-bottom: .6 * $unit;
	font-size: .9 * $unit;
	font-weight: $font-weight-normal;
	height: 2 * $unit;
	color: $color-text;
	&:hover {
		background-color: $palette-grey-800;
		color: $color-white;
	}
}

.active {
	background-color: $color-primary;
	color: $color-primary-contrast;
}
