@import "../../colors";
@import "../../globals";

$nav-item-font-size: .9 * $unit;

.item {
	margin-top: 2px;
	margin-bottom: 2px;
	display: block;
	padding-left: $unit;
	padding-top: .6 * $unit;
	padding-bottom: .6 * $unit;
	font-size: $nav-item-font-size;
	font-weight: $font-weight-normal;
	height: 2 * $unit;
	color: #222;
	&:hover {
		background-color: #444;
		color: $color-white;
	}
}

.active {
	background-color: #cc181e;
	color: $color-white;
}
