
$nav-item-height: 29px;
$nav-item-font-size: 13px;
$nav-item-padding: ($nav-item-height - $nav-item-font-size) / 2;

.item {
	margin-top: 2px;
	margin-bottom: 2px;
	display: block;
	padding-left: 15px;
	padding-top: floor($nav-item-padding);
	padding-bottom: ceil($nav-item-padding);
	font-size: $nav-item-font-size;
	font-weight: 400;
	height: $nav-item-height;
	color: #222;
	&:hover {
		background-color: #444;
		color: #fff;
	}
}

.active {
	background-color: #cc181e;
	color: #fff;
}
