@import "../../colors";
@import "../../globals";

.section {
	padding-bottom: 1.4 * $unit;
	.header {
		color: $color-primary;
		font-size: $font-size-tiny;
		font-weight: $font-weight-semi-bold;
		text-transform: uppercase;
	}
}

.container {
	padding-top: .2 * $unit;
}
