@import "../../colors";
@import "../../globals";

.sidenav {
	border-right: 1px solid $primary-border-color;
	top: $header-height;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: $nav-width;
	position: fixed;
	overflow-y: auto;
}
