@import "../../colors";
@import "../../globals";

.sidenav {
	border-right: (.1 * $unit) solid $primary-border-color;
	top: $header-height;
	bottom: 0;
	left: 0;
	padding: $unit;
	width: $nav-width;
	position: fixed;
	overflow-y: auto;
}
