@import "../colors.scss";
@import "../globals.scss";

.fieldGroup {
  display: table;
  padding: .5 * $unit;
  width: 100%;

  .label {
    display: table-cell;
    color: $color-text-secondary;
    line-height: 1.5 * $unit;
    font-size: $font-size-normal;
		font-weight: $font-weight-normal;
    width: 12%;
  }

  .field {
    color: $color-text;
    display: table-cell;
		font-size: $font-size-normal;
		font-weight: $font-weight-normal;
    padding: (.3 * $unit) (.4 * $unit);
    width: 100%;
  }
}
