// **********************************
// Global variables
// **********************************

//-- Sizing
$unit: 1rem;

//-- Fonts
$preferred-font: "Roboto", "Helvetica", "Arial", sans-serif;
$font-size-tiny: .7 * $unit;
$font-size-small: .8 * $unit;
$font-size-normal: $unit;
$font-size-big: 1.2 * $unit;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

//-- Colors
$color-divider: $palette-grey-100;
$color-background: $color-white;
$color-text: $palette-grey-700;
$color-text-secondary: $palette-grey-300;

$color-primary: $palette-red-300;
$color-primary-contrast: $color-white;

$color-border: $color-divider;

$color-icon: $palette-grey-400;

//-- layout
$header-height: 3.6 * $unit;
$nav-width: 14 * $unit;
