@import "./reset";
@import "./globals";

// **********************************
// Reset
// **********************************

* {
	box-sizing: border-box;
}

html {
	font-family: $preferred-font;
	font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
	// margin: auto;
	// min-width: $body-min-width;
	// max-width: $body-max-width;
}

a {
	text-decoration: none;
}

input, button {
	outline: none;
}
